Thumbs.db
.DS_Store
.lock-waf*
.fsbcache
*.so
*.dll
*.yo
*.o
*.gdata
*.log
*.dylib
gii
BUILD_RESULT
packer
host/ios/content
bin
env/config/cache
env/config/asset_table.json
env/config/cache_index.json
env/config/qt.ini

