Thumbs.db
.DS_Store
.lock-waf*
.fsbcache
*.exe
*.dll
*.so
*.yo
*.o
*.pyc
*.pyo
*.gdata
*.log
*.dylib
*.bak
*.orig
*.mkv
gii
BUILD_RESULT
packer
host/ios/content
bin
deploy/_build
deploy/product
env/config/cache
env/config/asset_table.json.packed
env/config/asset_table.json
env/config/cache_index.json
env/config/texture_index.json
env/config/texture_cache.json
env/config/qt.ini
env/config/texture_library.json
env/workspace
env/doc
game/lib
output
*.sublime-workspace
user.settings
user_config.lua
.~lock*
imgui.ini
debug_ui_config.json
