Thumbs.db
.DS_Store
.moei
*.so
*.pyc
*.pyo
*.dll
*.yo
*.o
*.gdata
*.log
*.dylib
*.cache
BUILD_RESULT
packer
host/ios/content
test/game
test/bin
test/env/config/cache
.waf*
.lock-*
dist
build
__pycache__